
.header {
    color: #ff0099;
    font-family: fantasy;
    font-size: xxx-large;
    margin-bottom: 0.5em;
}

.imgForm {
    height: 45vh;
    display: grid;
    grid-template-columns: 36% 25% 31%;
    grid-template-rows: 33% 33% 33%;
    gap: 0px 0px;
    grid-template-areas:
    "titleCntnr contentCntnr contentCntnr"
    "titleCntnr contentCntnr contentCntnr"
    "btnCntnr btnCntnr btnCntnr";
    color: black;
    font-family: cursive;
}
.tableExample {
    font-family: cursive;
    color: black;
    padding-right: 1em;
}
.tableHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8em;
}
.tableForm {
    height: 45vh;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 33% 47% 19%;
    gap: 0px 0px;
    grid-template-areas:
    "fontCntnr fontCntnr fontCntnr "
    "fontColorCntnr borderColorCntnr backColorCntnr"
    "sendCntnr sendCntnr sendCntnr";
    color: black;
    font-family: cursive;
}

.fontColorCntnr {
    grid-area: fontColorCntnr;
}

.borderColorCntnr {
    grid-area: borderColorCntnr;
}

.backColorCntnr {
    grid-area: backColorCntnr;
}


.titleCntnr {
    grid-area: titleCntnr;
    margin: 0 auto;
}

.titleCntnr .textAreaCntnr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.titleCntnr textarea {
    resize: none;
    width: 70%;
}

.titleCntnr .textArea:active {
    animation: bounceDown .4s ease-out forwards;
}

.imgContentCntnr {
    grid-area: contentCntnr;
    margin: 0 auto;
}

.imgContentCntnr input {
    appearance: none;
}

.imgCntnr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.imgCntnr div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 200px;
    height: 100px;
    background-color: darkgray;
    border: black solid 1px;
    border-radius: 20px;
}

.btnCntnr {
    grid-area: btnCntnr;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontForm {
    height: 40vh;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 33% 47% 19%;
    gap: 0px 0px;
    grid-template-areas:
    "contentCntnr fontCntnr colorCntnr"
    "contentCntnr fontCntnr colorCntnr"
    "sendCntnr sendCntnr sendCntnr";
    color: black;
    font-family: cursive;
}

.contentCntnr {
    grid-area: contentCntnr;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.contentCntnr .input, .titleCntnr .textArea, .fontCntnr .select {
    appearance: none;
    font-size: large;
    background-color: #F2F2F2;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    width: 70%;
    height: 35px;
    box-shadow: 2px 2px black;
}

.contentCntnr input:active {
    animation: bounceDown .4s ease-out forwards;
}


.fontCntnr {
    grid-area: fontCntnr;
}

.fontCntnr .select:active {
    animation: bounceDown .4s ease-out forwards;
}

.colorCntnr {
    grid-area: colorCntnr;
}

.sendCntnr {
    grid-area: sendCntnr;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    align-items: center;
    background-color: #F2F2F2;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, fantasy;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button:hover:after {
    transform: translate(0, 0);
}

.button:active {
    background-color: #F2F2F2;
    outline: 0;
}

.button:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button {
        padding: 0 40px;
    }
}

@keyframes bounceUp {
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(-15%);
    }
    75% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounceDown {
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(10%);
    }
    50% {
        transform: translateY(15%);
    }
    75% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0);
    }
}