.btnCntnr button {
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer;
}

.iconCntnr {
    list-style: none;
    cursor: pointer;

    width: 33px;
    height: 33px;
    border-radius: 3rem;

    position: absolute;
    top: 73px;
    left: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
    padding: 0 20px;
    background-color: #EBE51E;
    color: #111;
    border: 2px solid #111;
    box-shadow: 4px 4px black;

    z-index: 10000;
    transition: 0.6s;
}

.iconCntnr input {
    cursor: pointer;
}

.iconCntnr:hover {
    outline: 0;
    box-shadow:0px 0px black;
}

.penMenu {
    position: absolute;
    top: 1px;
    left: -200px;
    transition: 0.5s;
    width: 200px;
}

.icon {
    color: black;
    margin-right: 0.5em;
}

.penMenu div {
    padding: 0.25em 0;
    animation: vibrate-1 3s linear infinite both;
}

.toggleSwitch {
    position: absolute;
    top: 5px;
    display: inline-block;
    width: 50px;
    height: 18px;
}

.toggleButton {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.toggleButton:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.toggleSwitch input:checked + .toggleButton {
    background-color: #EBE51E;
}

.toggleSwitch input:focus + .toggleButton {
    box-shadow: 0 0 1px #EBE51E;
}

.toggleSwitch input:checked + .toggleButton:before {
    transform: translateX(30px);
}


.saveCntnr{
    list-style: none;
    cursor: pointer;

    width: 33px;
    height: 33px;
    border-radius: 3rem;

    position: absolute;
    top: 118px;
    left: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
    padding: 0 20px;
    background-color: #EBE51E;
    color: #111;
    border: 2px solid #111;
    box-shadow: 4px 4px black;

    z-index: 10000;
    transition: 0.6s;
}
.saveCntnr:active {
    background-color: #D6D01F;
}
.saveCntnr:hover {
    outline: 0;
    box-shadow:0px 0px black;
}

.saveCntnr .save {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    position: absolute;
    left: -200px;
    transition: 0.5s;
    width: 70px;
    border-radius: 8px;
    height: 30px;
    background: #EBE51E;
    box-shadow: 2px 2px black;
    color: black;
    cursor: pointer;
}

.saveCntnr .save:after {
    content: '';
    position: absolute;
    left: 1px;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #EBE51E;
    border-left: 0;
    margin-top: -10px;
    margin-left: -10px;
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}