.postIt{
    overflow: hidden;
    transition: all 0.1s ease-out;
}
.tab {
    display: inline-flex;
    margin-left: auto;
    position: relative;
    top: -23px;
    transition: all 0.3s ease-out;
    background: red;
    z-index: 100;
    cursor: pointer;
}
.content{
    border: black 1px solid;
    display : flex;
    justify-content : center;
    align-items : center;
    font-size: 10em;
}
