.postIt{
    overflow: hidden;
    transition: all 0.1s ease-out;
}
.tab {
    display: inline-flex;
    margin-left: auto;
    position: relative;
    top: -23px;
    transition: all 0.3s ease-out;
    background: red;
    z-index: 100;
    cursor: pointer;
}
.content{
    background: lightpink;
    height: 89%;
    border: deeppink 2px solid;
}
/* SM CSS */
.table {
    margin-left: auto;
    position: relative;
    border: deeppink 2px solid;
    background: lightpink;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    word-break: break-all;
    table-layout: fixed;
}

.table thead {
    border-bottom: palevioletred 1px solid;
}

.table tr td {
    border: 1px solid palevioletred;
}

.postIt{
    overflow: hidden;
    transition: all 0.1s ease-out;
}

.tab {
    display: inline-flex;
    margin-left: auto;
    position: relative;
    top: -30px;
    transition: all 0.3s ease-out;
    z-index: 100;
}

.tabBtn {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: tomato;
    border: 2px ridge tomato;
    height: 25px;
}

.tabText {
    text-align: center;
    vertical-align: middle;
    cursor: auto;
    background: tomato;
    border: 2px ridge tomato;
    height: 25px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 2px ridge tomato;
    background: wheat;
    width: 12px;
    height: 18px;
    margin-bottom: 4px;
}