.backdrop {
    position: fixed;
    top: -20px;
    left: 0;
    width: 130%;
    height: 130vh;
    z-index: 90000;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
}
.backdrop :active {
    animation: slide-up 300ms ease-out forwards;
}

.modal {
    position: fixed;
    top: 20vh;
    left: 20%;
    width: 60%;
    height: 60vh;
    border-radius: 20px;
    background-color: lightpink;
    border: hotpink 3px solid;
    padding: 2.5em;
    z-index: 100000;
    animation: slide-down 300ms ease-out forwards;
}
.modal:active {
    animation: slide-up 300ms ease-out forwards;
}


@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-1.5rem);
    }
    100% {
        opacity: 0;
        transform: translateY(-3rem);
    }
}

.ModalOpen {
    animation: openModal 0.4s ease-out forwards;
}

.ModalClosed {
    animation: closeModal 1s ease-out forwards;
}
@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.8;
        transform: translateY(60%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
.myclass-enter{
    opacity: 0;
    transform: translateY(-100%);
}
.myclass-enter-active{
    opacity: 1;
    transform: translateY(90%);
}
.myclass-enter-done{
    opacity: 1;
    transform: translateY(0);
}
.myclass-exit{
    opacity: 1;
    transform: translateY(0);
}
.myclass-exit-active{
    opacity: 0.8;
    transform: translateY(60%);
}
.myclass-exit-done{
    opacity: 0;
    transform: translateY(-100%);
}

.myclass-entering {
    opacity: 0.5;
    transform: translateY(-100%);
}
.myclass-entered {
    opacity: 1;
    transform: translateY(0%);
}
.myclass-exiting {
    opacity: 0.5;
    transform: translateY(-50%);
}
.myclass-exited {
    opacity: 0;
    transform: translateY(-100%);
}